*{
    box-sizing: border-box;
    color: #333;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

$font-stack: 'Spectral', serif;
.display-block{display: block !important;}
.display-none{display: none !important;}

@mixin display($type){
    -webkit-flex: $type;
    -moz-flex: $type;
    -ms-flex: $type;
    -o-flex: $type;
    display: $type;
}

@mixin transition($type){
    -webkit-transition: $type;
    -moz-transition: $type;
    -o-transition: $type;
    transition: $type;
}

*{
  @include transition(all 0.4s ease);  
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

#wrapper{
    align-items: stretch;
    @include display(flex);
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    
    header{
        background-attachment: fixed;
        background-color: #9b9b9b;
        background-image: url("../resources/header-background-min.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        positon: relative;
        
        .header-menu{
            @include display(flex);
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            
            #logo{
                //border: 1px solid #333;
                margin: 8px 0 0 8px;
                height: 20%;
                position: relative;
            
                img{
                    float: left;
                    max-width: 50px;
                    max-height: 50px;
                }
                
                
                
                p{
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            
            #menu-nav{
                background-attachment: fixed;
                background-color: #9b9b9b;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 350px;
                position: absolute;
                padding-left: 10px;
                width: 100%;

                ul{
                    margin-top: 15px;

                    li{
                        display: block;
                        margin-bottom: 10px;

                        a{
                            color: #fff;
                            font-size: 16px;
                            padding-left: 4px;
                        }
                        
                        a:hover{
                            border-left: 4px solid #6c75de;
                            //color: #6c75de;
                        }
                    }
                }
            }
            
            .area-menu-button{
                //border: 1px solid #333;
                position: absolute;
                right: 10px;
                top: 15px;

                #menu-button{
                    cursor: pointer;
                    font-family: $font-stack;
                    font-size: 16px;
                }
                
                #menu-button:hover{
                    color: #fff;
                }
            }
        }
        
    }
    
    main{
        background-color: #3d3f4c;
        padding: 0 10px;
        position: relative;
        
        h2{
            color: #9aa4f0;
            font-family: $font-stack;
            font-size: 17px;
            margin: 10px 0;
            text-align: center;
            text-decoration: underline;
        }
        p{
            color: #fff;
            font-family: $font-stack;
            text-indent: 15px;
        }
        
        #news{
            
            h1{
                color: #e2e2e2;
                font-family: $font-stack;
                font-size: 18px;
                font-weight: 600;
                margin: 20px 0 10px 0;
                text-align: center;
            }
        }
        
        #about{
            
            p{
                
                a{
                    color: #fff;
                    text-decoration: none;
                }
                
                a:hover{
                    color: #6c75de;
                    font-style: italic;
                }
            }
            
            #photos{
                margin-top: 10px;
                text-align: center;
                
                img{
                    border-radius: 40px;
                    border: 1px solid #a29f9f;
                    height: 80px;
                    margin-bottom: 10px;
                    width: 80px;
                }
            }
        }
        
        #docs{
            
            p{
                text-align: center;
                text-indent: 0px;
                
                a{
                    color: #fff;
                    font-style: italic;
                }
                
                a:hover{
                    text-decoration: underline;
                }
            }
            
            .left{
                float: left;
            }
            
            .right{
                float: right;
            }
            
        }
        
        #events{
            margin-bottom: 15px;
            
            p{
                text-align: center;
            }
        }
    }
    
    footer{
        background-color: #485158;
        padding: 0 10px;
        position: relative;
        
        #contacts{
            
            h2{
                color: #9aa4f0;
                font-family: $font-stack;
                font-size: 17px;
                margin: 10px 0;
                text-align: center;
                text-decoration: underline;
            }
            
            p{
                color: #fff;
                text-indent: 15px;
            }
            
            ul{
                color: #fff;
                font-family: $font-stack;
                margin: 10px 0 0 15px;
                
                li{
                    color: #fff;
                    margin-left: 25px;
                }
            }
            
            #icons{
                margin: 10px 0;
                text-align: center;
                
                a{
                    text-align: center;
                    
                    img{
                        display: inline-block;
                        height: 30px;
                        margin-right: 6px;
                        width: 30px;
                    }
                }
            }
            
        }
    }
}

@media screen and (min-width: 480px){
    
    header{
        height: 500px !important;
        
        #logo{
            width: 50% !important;
            
            img{
                height: 60px !important;
                width: 60px !important;
                margin-right: 5px !important;
            }
            
            p:nth-of-type(1){
                margin-top: 10px !important;
            }
        }
        
        #menu-nav{
            height: 100% !important;
        }
    }
    
    main{
        
        h1{
            font-size: 20px !important;
        }
        
        #about{
        
            #photos{
            
                img{
                    border-radius: 80px !important;
                    height: 160px !important;
                    width: 160px !important;
                }
            }
        }
    }  
}

@media screen and (min-width: 720px){
    
    header{
        height: 700px !important;
        
        #logo{
            margin: 8px 0 0 18px !important;
            
            img{
                height: 90px !important;
                width: 90px !important;
            }
            
            p{
                font-size: 16px !important;
            }
        }
        
        #menu-nav{
            padding: 10px 0 0 20px !important;
        }
        
        .area-menu-button{
            right: 20px !important;
        }
    }
    
    main{
        
        h1{
            font-size: 21px !important;
        }
        
        #photos{
            
            img{
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    
}

@media screen and (min-width: 1024px){
    
    header{
        
        #logo{
            margin: 18px 0 0 28px !important;
            
            img{
                height: 160px !important;
                width: 160px !important;
            }
        }
        
        #menu-nav{
            padding: 20px 0 0 30px !important;
            
            ul{
                li{
                    a{
                        font-size: 18px !important;
                    }
                }
            }
        }
        
        .area-menu-button{
            right: 30px !important;
            top: 30px !important;
        }
    }
    
    main{
        padding: 0 20px !important;
        
        #photos{
            
            img{
                display: inline-block;
                margin-right: 30px;
            }
        }
    }
}

@media screen and (min-width: 1440px){
    
    header{
        
        #logo{
            margin: 30px 0 0 30px !important;
        }
        
        .area-menu-button{
            right: 40px !important;
            top: 40px !important;
        }
    }
    
    main{
        #photos{
            
            img{
                display: inline-block;
                margin-right: 50px;
            }
        }
    }
}