@import 'hamburgers/hamburgers.scss';

/* ======== Общие стили =======> */

$link-color: rgba(255, 255, 255, 0.9);

* {

	margin: 0;
	padding: 0;
	box-sizing: border-box;

	color: $link-color;

	text-decoration: none;
}

a {
	color: $link-color;
}
a:hover {
	color: $link-color;
	text-decoration: none;
}
a:active {
	color: $link-color;
	text-decoration: none;
}

@import '_partial/body';

button:focus {
	outline: none;
}

ul {
	list-style: none;

	li {
		margin-top: 10px;

		font-size: 22px;

		color: $link-color;

	}
}

p, span, h1, h2 {
	color: $link-color;
}

.hidden {
	display: none;
}

.i {
	font-style: italic;
}

.delete {
	text-decoration: line-through;
}

.tdn {
	font-style: normal;
	text-decoration: none;
}

.u {
	text-decoration: underline;
}

.progressbar{
	position: fixed;
	width: 100%;
	z-index: 3;

	div{
		height: 4px;
		background: #628CFD; // if browser doesn't supports linear-gradient
        background: linear-gradient(to right, rgba(3, 71, 253, 0.83), rgba(255, 0, 29, 0.83));
		width: 0%;
	}
}

::-webkit-scrollbar {
  width: 2px;
}
 
::-webkit-scrollbar-thumb {
  background: #fff; 
}

::-webkit-scrollbar-track {
  background: #666; 
}

@keyframes opacity_ {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes scrollToTop200 {
	0% {
		transform: translateY(200%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes scrollToBottom100 {
	0% {
		transform: translateY(-100%);
		opacity: 0;
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes scrollToRight50 {
	0% {
		transform: translateX(-50%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes scrollToLeft50 {
	0% {
		transform: translateX(50%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes rotateY90 {
	0% {
		transform: rotateY(90deg);
		opacity: 0;
	}
	100% {
		transform: rotate(0deg);
		opacity: 1;
	}
}

@keyframes rotate360 {
	0% {
		transform: rotate(-135deg);
		opacity: 0;
	}
	100% {
		transform: rotate(0);
		opacity: 1;
	}
}

@keyframes loader {
	0% {
		transform: rotate(-45deg);
		opacity: 0;
	}
	50% {
		transform: rotate(-245deg);
		opacity: 0.7;
	}
	100% {
		transform: rotate(-445deg);
		opacity: 1;
	}
}

@keyframes span-1 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(-25px, 0);
		background-color: rgba(255, 0, 0, 0.99);
		box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.5);
	}
	100% {
		transform: translate(-10px, 0);
	}
}

@keyframes span-2 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(25px, 0);
		background-color: rgba(255, 0, 0, 0.99);
		box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.5);
	}
	100% {
		transform: translate(10px, 0);
	}
}

@keyframes span-3 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(0, -25px);
		background-color: rgba(0, 0, 255, 0.99);
		box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.5);
	}
	100% {
		transform: translate(0, -10px);
	}
}

@keyframes span-4 {
	0% {
		transform: translate(0);
	}
	50% {
		transform: translate(0, 25px);
		background-color: rgba(0, 0, 255, 0.99);
		box-shadow: 0 0 12px 4px rgba(255, 255, 255, 0.5);
	}
	100% {
		transform: translate(0, 10px);
	}
}

/* <======= Общие стили ========*/

@import '_partial/header';

header object {
	animation: rotateY90 2s ease-out 4.6s 1;
	animation-fill-mode: both;
}

header button.hamburger {
	animation: rotate360 2s ease-out 4.6s 1;
	animation-fill-mode: both;
}

main {

	background: url(../resources/img/docs__background.jpg) no-repeat;
	background-position: center center;
	background-size: cover;

	position: relative;
	padding-top: 86px;
	z-index: 1;

	width: 100%;
	max-width: 100%;
	overflow: hidden;

	.loader {
		width: 20px;
		height: 20px;
		position: absolute;
		left: 50%;
		top: 50%;
		animation: loader 2s linear 1.2s 2;
		opacity: 0;
	}

	.loader span {
		width: 20px;
		height: 20px;
		position: absolute;
		left: 0;
		top: 0;
		border-radius: 50%;
	}

	.loader span:nth-child(1) {
	  animation: span-1 linear 2s 1.2s 2;
	}
	.loader span:nth-child(2) {
	  animation: span-2 linear 2s 1.2s 2;
	}
	.loader span:nth-child(3) {
	  animation: span-3 linear 2s 1.2s 2;
	}
	.loader span:nth-child(4) {
	  animation: span-4 linear 2s 1.2s 2;
	}

	.main__content {

		display: flex;
		flex-direction: column;

		font-size: 18px;

		background: rgba(39, 40, 47, 0.8);

		padding: 20px 10px 10px;

		h1, h2 {
			text-align: center;

			font-family: 'Open Sans', sans-serif;
			font-size: 2rem;

			margin: 30px 0;
		}

		h1 {
			animation: opacity_ 2.8s ease-out 4.3s 1;
			animation-fill-mode: both;
		}

		h2 {
			border-radius: 8px;
			box-shadow: 0 -2px rgba(255, 255, 255, 0.7);

			font-size: 1.8rem;

			margin: 20px 0 40px;
			padding: 30px 5px;
		}

		p {
			margin-top: 1rem;
			padding: 0 5px;

			text-align: justify;

			animation: scrollToBottom100 2s ease-out 4.6s 1;
			animation-fill-mode: both;
		}

		ul li {

			position: relative;

			padding-left: 15px;

			font-size: 18px;

		}

		li::after {

			width: 15px;
			height: 1px;
			position: absolute;
			left: -5px;
			top: 13px;

			background: #fff;
			content: '';

		}

		ul li:first-child {
			animation: scrollToRight50 2s ease-out 5.0s 1;
			animation-fill-mode: both;
		}

		ul li:last-child {
			animation: scrollToLeft50 2s ease-out 5.0s 1;
			animation-fill-mode: both;
		}

		span {

			font-size: 14px;

			text-align: center;

			animation: opacity_ 2s ease-out 6.5s 1;
			animation-fill-mode: both;
			
		}

		.main__content_docs {

			display: flex;
			justify-content: space-between;

			margin: 10px 0 20px;

			animation: scrollToTop200 2s ease-out 5.8s 1;
			animation-fill-mode: both;

			a {

				display: flex;
				flex-direction: column;

				img {

					border-radius: 4px;

					margin: auto;

					width: 80%;
					height: auto;

				}

			}

		}

	}

}

@import '_partial/footer';
@import 'media/_index';