*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    //background: url("../img/background1_transparent_export_fast_png_40.png") center no-repeat;
}
header{
    background: url("background1_transparent_export_fast_png_40.png") center no-repeat;
}