*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #333;
}

li{
	list-style: none;
}

header{

	/*background: #3e8;*/
	display: flex;
	flex-direction: row;
	/*height: 150px;*/
	justify-content: space-between;
	padding: 5px;

	.logo-container{
		border: 1px solid #333;
		display: inline-block;
		height: 75px;
		width: 40%;
	}

	.header-menu{
		/*border: 1px solid #333;*/
		display: inline-block;
		text-align: right;

		ul{

			li{
				/*border: 1px dotted #333;*/
				background: #5f5;
				display: block;
				margin-bottom: 8px;
				padding: 2px;
				text-align: right;
			}

			li:nth-child(2){
				margin-right: 10px;
			}

			li:nth-child(3){
				margin-right: 20px;
			}

			li:nth-child(4){
				margin-right: 30px;
			}

			li:nth-child(5){
				margin-right: 40px;
			}
		}
	}

	.menu-content{
		display: none;
	}
}