* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

.blur{
    display: none;
}

header {
    background-image: url("header-background-320-opacity-50.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    height: 300px;
    //padding: 5px;
    //padding-top: 10px;
    position: relative;

    .logo-container {
        border: 1px solid #fff;
        color: #fff;
        display: inline-block;
        float: left;
        height: 75px;
        margin: 10px 0 0 10px;
        position: relative;
        width: 45%;
        z-index: 2;
    }
    
    .button-menu{
        //border: 1px solid #333;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 20;
        
        button{
            background: none;
            border: none;
            border-bottom: 2px solid rgba(0, 0, 255, 0.4);
            color: #f1f1f1;
            cursor: pointer;
            text-align: center;
        }
    }
    
    #menu-content{
        background-color: #333;
        background-image: url('menu-content-background-0.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        display: none;
        height: 100%;
        position: relative;
        transition: all 0.3s ease-out;
        width: 100%;
        z-index: 10;
        
        .menu-content{
            
            li{
                //border: 1px solid #333;
                height: 30px;
                line-height: 30px;
                transition: all 0.3s ease-out;
                
                a{
                    //border: 1px solid #fff;
                    color: #f1f1f1;
                    display: inline-block;
                    height: 30px;
                    transition: all 0.3s ease-out;
                }
                
                a:hover{
                    
                }
            }
        }
    }
    
    .header-caption{
        margin-top: 210px;
        position: absolute;
        //top: 210px;
        width: 100%;
        
        h3{
            color: #f1f1f1;
            font-family: 'Open Sans', sans-serif;
            font-size: 22px;
            text-align: center;
        }
    }
    
//    .header-caption{
//        position: absolute;
//        left: 50%;
//        margin-top: 210px;
//        width: 70%;
//        
//        h3{
//        color: #ffffff;
//        font-family: 'Open Sans', sans-serif;
//        font-size: 22px;
//        left: -50%;
//        position: relative;
//        text-align: center;
//        z-index: 2;
//        }
//    } 
}

header:after {
    content: "";
    display: table;
    clear: both;
}

main{
    background-color: #334;
    color: #fff;

    h3{
        color: #fff;
        font-family: 'Roboto Mono', monospace;
    }
}

footer{
    background-color: #845;
}

/* media */

@media (min-width: 640px){
    header{
        background-image: url("header-background-640.jpg");
        height: 480px;

        h3{
            color: #fff;
            font-size: 21px;
            margin-top: 360px;
            text-align: center;
            width: 100%;
        }
    }
}

@media (min-width: 920px){
    header{
        background-image: url("header-background-1600.jpg");
        height: 680px;

        h3{
            font-size: 24px;
            margin-top: 520px;
        }
    }
}

@media (min-width: 1024px){
    header{
        background-image: url("header-background-1920.jpg");
    }
}

@media (min-width: 1280px){
    header{
        background-repeat: no-repeat;
        background-size: cover;

        h3{
            font-size: 32px;
        }
    }
}

/*@media (min-device-width: 640px) and (max-device-width: 959px) {
    header {
        background-image: url("header-background-640.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #464646;
        height: 600px;
    }
}

@media (min-device-width: 960px) and (max-device-width: 1023px) {
    header {
        background-image: url("header-background-960.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
        height: 600px;
    }
}

@media (min-device-width: 1024px) and (max-device-width: 1599px) {
    header {
        background-image: url("header-background-1024.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
        height: 600px;
    }
}

@media (min-device-width: 1600px) and (max-device-width: 1919px) {
    header {
        background-image: url("header-background-1600.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
        height: 600px;
    }
}

@media (min-device-width: 1920px) {
    header {
        background-image: url("header-background-min.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
        height: 600px;
    }
}*/