@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\000031}}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\000037}}
a {
  text-decoration: none;
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000312}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000316}}
.blur {
  opacity: 0.1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000320}}
header {
    /*display: flex;
	flex-direction: row;
	justify-content: space-between;*/
  background-image: url("header-background-320-copy.png");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
    /*background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;*/
  background-color: #464646;
  height: 300px;
  padding: 5px;
  padding-top: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000337}}
  header .logo-container {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    float: left;
    height: 75px;
    width: 45%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000346}}
  header .header-menu {
    float: right;
    display: block;
    position: relative;
    width: 50%;
    z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000353}}
    header .header-menu #button-header {
      border: 1px solid #f1f1f1;
      border-radius: 4px;
      color: #f1f1f1;
      cursor: pointer;
      margin: 0 auto;
      margin-bottom: 14px;
      padding: 4px;
      text-align: center;
      width: 50%;
      margin-right: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000366}}
    header .header-menu ul {
      width: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000369}}
      header .header-menu ul li {
        border-bottom: 2px solid #000000;
        display: block;
        float: right;
        font-family: 'Noto Serif', serif;
        font-size: 15px;
        margin-right: 10px;
        margin-bottom: 12px;
        padding: 8px 4px;
        text-align: right;
        width: 80%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000381}}
        header .header-menu ul li a {
          color: #f1f1f1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000386}}
      header .header-menu ul li:nth-child(2) {
        margin-right: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000390}}
      header .header-menu ul li:nth-child(3) {
        margin-right: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000394}}
      header .header-menu ul li:nth-child(4) {
        margin-right: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\0000398}}
      header .header-menu ul li:nth-child(5) {
        margin-right: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003104}}
  header #menu-content {
    display: none;
    float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003109}}
  header .header-caption {
    position: absolute;
    left: 50%;
    margin-top: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003114}}
    header .header-caption h3 {
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      left: -50%;
      position: relative;
      text-align: center;
      z-index: 2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003125}}
header:after {
  content: "";
  display: table;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003131}}
main {
  background-color: #334;
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003135}}
  main h3 {
    color: #fff;
    font-family: 'Roboto Mono', monospace; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003141}}
footer {
  background-color: #845; }

/* media */
@media (min-width: 640px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003148}}
  header {
    background-image: url("header-background-640.jpg");
    height: 480px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003152}}
    header h3 {
      color: #fff;
      font-size: 21px;
      margin-top: 360px;
      text-align: center;
      width: 100%; } }
@media (min-width: 920px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003163}}
  header {
    background-image: url("header-background-1600.jpg");
    height: 680px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003167}}
    header h3 {
      font-size: 24px;
      margin-top: 520px; } }
@media (min-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003175}}
  header {
    background-image: url("header-background-1920.jpg"); } }
@media (min-width: 1280px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003181}}
  header {
    background-repeat: no-repeat;
    background-size: cover; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/yegresvonason\/Documents\/dev\/smrdots\/smrdots\.ru\/style\.scss}line{font-family:\00003185}}
    header h3 {
      font-size: 32px; } }
/*@media (min-device-width: 640px) and (max-device-width: 959px) {
    header {
        background-image: url("header-background-640.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #464646;
        height: 600px;
    }
}

@media (min-device-width: 960px) and (max-device-width: 1023px) {
    header {
        background-image: url("header-background-960.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
        height: 600px;
    }
}

@media (min-device-width: 1024px) and (max-device-width: 1599px) {
    header {
        background-image: url("header-background-1024.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
        height: 600px;
    }
}

@media (min-device-width: 1600px) and (max-device-width: 1919px) {
    header {
        background-image: url("header-background-1600.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
        height: 600px;
    }
}

@media (min-device-width: 1920px) {
    header {
        background-image: url("header-background-min.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #464646;
        height: 600px;
    }
}*/
