footer
	.footer__content
		.footer__content_links
			a(class='telegram' href='https://t.me/smrdots' target='_blank' title="Группа в telegram")
			a(class='facebook' href='https://www.facebook.com/groups/1025636430935910' target='_blank' title="Группа в facebook")
			a(class='vk' href="https://vk.com" target="_blank", title="Группа в vk")
		.footer__content_copyright
			p Copyright &copy; 2018 
				a(href='http://smrdots.ru') РОО "СмрКСТ"