.progressbar
	div
header
	.header__content.container
		.row.no-gutters
			.header__content_logo.col
				object(data='', type='image/svg+xml')
			.header__content_menu.col
				button(id='hamburger' class='hamburger hamburger--collapse', type='button')
					span(class='hamburger-box')
						span(class='hamburger-inner')
				ul(class='hidden')
					li
						a(href="contacts.html") Контакты
					li
						a(href="index.html") Главная
					li
						a(href="news.html") Новости
					li
						a(href="articles.html") Статьи
					li(id='information') Информация
						ul(class='hidden')
							li
								a(href="about.html") О клубе
							li
								a(href="documents.html") Документы
							li
								a(href="gallery.html") Галлерея