body
	include ../base/header_base
	main
		.main__content
			h1 РОО "Самарский Клуб Спортивных Точек"
			.main__content_news
				h2 Новости
				p Открытие сайта клуба
				a(href="http://smrdots.ru/news") Перейти
			p  Самарский клуб Спортивных Точек основан в декабре 2017 года тремя участниками точечного сообщества: Романом Сараскиным, Сергеем Носановым и Александром Фофановым. Самарская организация стала второй по счету, после Севастопольской, посвященной логической настольной игре. Основными задачами клуба являются: распространение информации об игре и привлечение новых игроков в рамках области, составление и публикации обучающих материалов, дополнение теоретической базы, а также проведение городских турниров и соревнований.
			.links_out
				h2 Обучение и соревнования
				p Информационный портал и сертифицированная для проведения заочных турниров игровая площадка
				a(href="https://playdots.ru", target='_blank') Перейти
	include ../base/footer_base
	include ../base/scripts_base