body
	include ../base/header_base
	main
		.main__content
			h1 РОО "Самарский Клуб Спортивных Точек"
			.main__content_news
				h2 Новости
				p.underline Открытие сайта клуба
				p 31 Мая Самарский клуб запустил тестовую версию ...
				a(href="news.html") Перейти
			p  Самарский клуб Спортивных Точек основан в декабре 2017 года тремя участниками точечного сообщества: Романом Сараскиным, Сергеем Носановым и Александром Фофановым. Самарская организация стала второй по счету, после Севастопольской, посвященной логической настольной игре. Основными задачами клуба являются: распространение информации об игре и привлечение новых игроков в рамках области, составление и публикации обучающих материалов, дополнение теоретической базы, а также проведение городских турниров и соревнований.
			.main__content_articles
				h2 Статьи и документы
				p Раздел сайта с полезными теоретическими материалами, задачами и обучающими видео.
				a(href='articles.html') Перейти
				//-h2 Обучение и соревнования
				//-p Информационный портал и сертифицированная для проведения заочных турниров игровая площадка
				//-a(href="https://playdots.ru", target='_blank') Перейти
	include ../base/footer_base
	include ../base/scripts_base