body
	include ../base/header_base
	main
		.main__content
			h1.animated.fadeInDownBig РОО "Самарский Клуб Спортивных Точек"
			.main__content_news.animated.fadeInLeftBig
				h2 Новости
				p.underline Открытие сайта клуба
				p 31 Мая Самарский клуб запустил тестовую версию ...
				a(href="news.html") Перейти
			p.animated.fadeInUpBig Самарский клуб Спортивных Точек основан в декабре 2017 года тремя участниками точечного сообщества: Романом Сараскиным, Сергеем Носановым и Александром Фофановым. Самарская организация стала второй по счету, после Севастопольской, посвященной логической настольной игре. Основными задачами клуба являются: распространение информации об игре и привлечение новых игроков в рамках области, составление и публикации обучающих материалов, дополнение теоретической базы, а также проведение городских турниров и соревнований.
			.main__content_articles.animated.fadeInUpBig
				h2 Статьи и документы
				p Раздел сайта с полезными теоретическими материалами, задачами и обучающими видео.
				a(href='articles.html') Перейти
	include ../base/footer_base
	include ../base/scripts_base