title Главная
include ../base/head_base
	link(rel='stylesheet' href='css/main_min.css')
	meta(name='description' content='Региональная общественная организация "Самарский Клуб Спортивных Точек')
	meta(name='keywords' content='')
