body
	include ../base/header_base
	main
		.main__content
			h1 О клубе
			p В основании клуба принимали участие следующие игроки:
			ul
				li Роман Сараскин (
					b I Points World Cup Blitz 2012 
					| - 
					a(href="https://pointsgame.net/site/pwc2012b" target="_blank") третье место
					|, 
					b Pointsgame League 2013 
					| - 
					a(href="https://pointsgame.net/site/pgl2013" target="_blank") третье место
					|, 
					b Pointsgame Open Cup 2013 
					| - 
					a(href="https://pointsgame.net/site/pointsgame_open_cup_2013" target="_blank") второе место
					|, 
					b SDLBC'18 
					| - 
					a(href="https://playdots.ru/sdlbc18-standings/" target="_blank") третье место 
					|);
				li Сергей Носанов (
					b SDSOC’17 
					| - 
					a(href="https://playdots.ru/sdsoc17-playoffs/" target="_blank") второе место
					|, 
					b Открытый кубок Севастополя 2017 
					| - 
					a(href="http://sevdots.ru/2017/07/12/sister-town/" target="_blank") первое место
					|, 
					b Лига Спортивных Точек 2017 
					| - 
					a(href="https://playdots.ru/sdlrc17-standings/" target="_blank") второе место
					|, 
					b SDLASM’18 
					| - 
					a(href="https://playdots.ru/sdlasm18-playoffs/" target="_blank") второе место 
					|);
				li Алексанр Фофанов.
			//- canvas
	include ../base/footer_base
	include ../base/scripts_base
	script(src='js/canvas.js' defer)