body
	include ../base/header_base
	main
		.main__content
			h1 О клубе
			p В основании клуба принимали участие следующие игроки: Роман Сараскин (Pointsgame League 2013 - первое место, Pointsgame Open Cup 2013 - второе место, SDLBC'18 - третье место), Сергей Носанов () и Алексанр Фофанов.
	include ../base/footer_base
	include ../base/scripts_base