title О клубе
include ../base/head_base
	link(rel='stylesheet' href='css/about_min.css')
	meta(name='description' content='Информация о Самарском клубе Спортивных Точек')
	meta(name='keywords' content='')