body
	include ../base/header_base
	main
		.main__content
			h1 Новости
			h2 Открытие сайта клуба
			p(class='author') Автор: 
				a(class='tdn u' href='https://www.facebook.com/sergey.nosanov.71' title='Профиль в facebook' target='_blank') Носанов Сергей
			p 31 Мая Самарский клуб запустил тестовую версию сайта 
				a(class='i' href='http://smrdots.ru' target='_blank' title='smrdots.ru') smrdots.ru.
			p Со старта проекта до текущего результата прошло около полугода, за это время я семь раз менял внешний дизайн страниц и общую концепцию, каждый раз начиная макет с нуля. На данный момент сайт все еще находится в тестовой версии: вносятся правки и оптимизация в верстку, ведется работа по переносу страниц на cms и продвижению в поисковых запросах. В той или иной степени над проектом принимали участие пять человек, каждому из которых я хочу сказать большое 
				span(class='delete') спс 
				| спасибо.
			p Хочется думать что самый тяжелый этап - позади. Взяться за проект с нуля, не имея ни должного технического опыта, ни организационной слаженности и конкретных целей было не просто. Но начало положено, задачи перед клубом стоят вполне конкретные а мотивации двигаться вперед за последнее время только прибавилось. Посему выкладываю небольшую подборку 
				a(class='i u' href='articles.html' title='Задачи') задачек.

	include ../base/footer_base
	include ../base/scripts_base