body
	include ../base/header_base
	main
		.main__content
			h1 Наши контакты
			//-p Самарский клуб существует около полугода и находится в стадии становления и развития. Если у вас есть идеи и предложения по развитию клуба, просьба писать нам на любой из перечисленных ниже контактов. Замечания и объективная критика также приветствуется.
			p По всем вопросам и предложениям просьба писать на email: 
				a(class='u' href="mailto:info@smrdots.ru") info@smrdots.ru
				|, либо в соответствующих группах в соцсетях (ссылки внизу страницы).
			p
				span(class='i') Фактический адрес: 
				| г. Самара, Московское шоссе 17, 3-й этаж. 
				a(class='i u' href='https://yandex.ru/maps/?um=constructor%3A9f505a76658901917f12c7460f640b64994d1cf969675b243be984973f1fdcf9&source=constructorLink' target='_blank') Ссылка на карту
			.map
				script(type='text/javascript' charset='utf-8' async src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9f505a76658901917f12c7460f640b64994d1cf969675b243be984973f1fdcf9&amp;width=100%25&amp;height=320&amp;lang=ru_RU&amp;scroll=true')
	include ../base/footer_base
	include ../base/scripts_base