body
	include ../base/header_base
	main
		.main__content
			h1 Статьи и обучающие материалы
			h2 Комбинационные задачи (часть 1)
			p(class='author') Автор: 
				a(class='tdn u' href='https://www.facebook.com/sergey.nosanov.71' title='Профиль в facebook' target='_blank') Носанов Сергей
	include ../base/footer_base
	include ../base/scripts_base