@import "./components/flex";
@import "./components/fonts";
@import "./components/header";
@import "./components/main";

* {
    box-sizing: border-box;
    color: #000;
    cursor: default;
    font-family: "MuseoSansCyrl300";
    text-decoration: none;
}

main {
    padding-top: 65px;
}

.screen-1 {
    @include flex-center;
    width: 100%;
    height: calc(100vh - 65px);

    h1 {
        font: 2rem "MuseoSansCyrl700";
    }
}